.desktop {
  background-image: url("../../assets/Desktop/Images/iceosbackground.jpg");
  aspect-ratio: 16/9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin-bottom: 50px;
}