.closeButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #e1532f;
  border: 1px solid #FFFFFF;
  color: white;
  font-weight: bold;
}