.app {
  display: flex;
  flex-direction: column;
  align-items: start ;
  margin: 0 0 5px 5px;
}
.app img{
  width: 50px;
  height: 50px;
}

.app p {
  margin: 0 0 0 10px;
  color: #FFFFFF;
}

.app :hover {
  cursor: pointer;
}